.home-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: rgba(255, 255, 253, 0);
  position: relative;
  overflow: hidden;
}
.home-layout img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-layout::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.512);
  z-index: 0;
}
.textContent {
  position: absolute;
  top: 30%;
  left: 10%;
  color: rgb(249, 252, 255);
  z-index: 1;
}
.heading {
  width: 550px;
  font-size: 45px;
  margin-bottom: 20px;
}
.description {
  position: absolute;
  font-size: 15px;
  left: 3%;
}
.main-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.main-box .box {
  color: rgb(249, 252, 255);
  text-align: center;
}
.main-box .box h1 {
  font-size: 30px;
}

.main-box .box p {
  font-weight: bold;
  margin-top: 5px;
}

@media (max-width: 738px) {
  .heading {
    font-size: 28px;
    width: 400px;
  }
  .description {
    font-size: 16px;
    width: 350px;
  }
  .main-box {
    justify-content: flex-start;
    gap: 25px;
    margin-top: 50px;
  }

  .main-box .box h1 {
    font-size: 20px;
  }

  .main-box .box p {
    font-size: 13px;
  }
}
