.nav-layout {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.logo-style {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
.nav-items {
  display: flex;
  gap: 40px;
}
.right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.logIn button {
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}
