.nav-layout {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 0.9px rgba(0, 31, 98, 0.208);
  padding: 5px;
  background-color: rgb(249, 252, 255);
  position: relative;
}
.left {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.logo-style {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
.nav-items {
  display: flex;
  gap: 40px;
  font-size: 15.5px;
}
.nav-items a:hover {
  transition: all 0.3s ease;
  scale: 1.05;
}
.right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.logIn,
.signUp {
  cursor: pointer;
  font-weight: bold;
  font-size: small;
  border: none;
  background-color: #064d98;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 75px;
  height: 33px;
}
.logIn:hover,
.signUp:hover {
  scale: 1.05;
}
.menu-icon {
  margin-left: 7px;
  display: none;
  cursor: pointer;
  align-items: center;
}
.menu {
  display: none;
}
@media (max-width: 1024px) {
  .logo-name {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .menu {
    display: none;
  }
}
@media (max-width: 738px) {
  .logo-name {
    display: inline;
  }
  .nav-items {
    display: none;
  }
  .menu-icon {
    display: inline;
  }

  .menu {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #064d98;
    color: white;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    gap: 25px;
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 14px rgba(108, 108, 108, 0.582);
  }
  .logIn,
  .signUp {
    width: 60px;
    height: 30px;
    font-size: 12px;
  }
}
